[user]
  name = Garry Shutler
  email = garry@robustsoftware.co.uk

[color]
  ui = auto

[core]
  excludesfile = /Users/gshutler/.gitignore_global
  editor = mvim -v +startinsert

[merge]
  defaultToUpstream = true
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false

[push]
  default = upstream

[alias]
  a = add .
  amend = commit --amend
  cached = diff --cached
  cm = commit --verbose
  co = checkout
  d = diff
  fall = fetch --all
  ffm = merge --ff-only master
  ffo = merge --ff-only
  ma = checkout master
  mt = mergetool
  new = checkout -b
  noff = merge --no-ff
  nom = branch --no-merged
  pf = pull --ff-only
  pff-only = pull --ff-only
  pusho = push -u origin
  s = status --short

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
