# Allow bin scripts to be stored
!bin
# Exceptions (usually managed elsewhere)
bin/switch-profile

.DS_Store
.vim/.netrwhist
.vim/undodir
.config/configstore/
.config/csharp.history
.config/filezilla/
.config/gh
.config/iterm2
.config/jgit
.config/sanity
.config/tmuxinator
.gitconfig
