[user]
  name = Garry Shutler
  email = garry@robustsoftware.co.uk

[color]
  ui = auto

[core]
  excludesfile = /Users/gshutler/.gitignore_global
  editor = mvim -v +startinsert

[diff]
  indentHeuristic = true

[merge]
  defaultToUpstream = true
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false

[push]
  default = upstream

[rerere]
  enabled = true

[alias]
  a = add .
  ap = add -p
  amend = commit --amend
  cached = diff --cached
  c = commit --verbose
  cm = commit --verbose
  co = checkout
  d = diff
  dm = diff master...
  dw = diff -w
  f = fetch --all
  fall = fetch --all
  ff = merge --ff-only
  ffm = merge --ff-only master
  ffo = merge --ff-only
  l = log --graph --oneline --decorate
  ll = log --graph --all --oneline --decorate
  ma = checkout master
  mp = "!git checkout master && git pull --ff-only"
  mt = mergetool
  n = checkout -b
  new = checkout -b
  noff = merge --no-ff
  nom = branch --no-merged
  p = push
  pff-only = pull --ff-only --all
  po = "!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
  pp = pull --ff-only --all
  rim = rebase -i master
  s = status --short

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
